.heading {
  &-main {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: $color-accent;
  }

  &-section {
    font-size: 1.7rem;
    color: $color-bg;
    text-align: center;
    text-transform: capitalize;
    // border-bottom: 1px solid $color-grey;
    margin-bottom: 1em;
  }

  &-best {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 0.3em;

    margin-bottom: 0.5em;
    @include mq($media-desktop) {
      font-size: 1.35rem;
    }
  }

  &-work {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  &-form {
    font-size: 1.3rem;
    color: $color-bg;
    text-align: center;
  }

  &-form-outline {
    font-size: 1.8rem;
    text-transform: capitalize;
    // border-bottom: 1px solid $color-grey;
    margin-bottom: 0.3em;
    @include mq($media-tab-land) {
      font-size: 2.5rem;
    }
    span {
      color: $color-bg-light;
      // text-shadow: 0 3px 6px rgba($color-accent, 0.5);
    }
  }

  &-logo-small {
    // text-align: ce;
    text-transform: capitalize;
    font-size: $small-font-size;
  }
}
