/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

// max-width
$max-width: 75em; //1200px

// media queries
$media-min: 31.25em; // 500px
$media-tab: 48em; // 768px
$media-tab-land: 60em; // 960px
$media-desktop: 75em; // 1200px
$media-xl: 112.5em; // 1800px
$media-xxl: 131em; // +2000px

// colors
$color-accent: #ffe900;
$color-white: #fefffb;
$color-black: #011627;
$color-grey: #817f82;
$color-bg: #1658af;
$color-bg-light: #20a4f3;

// font fam
$font-default: "Lato", sans-serif;
$font-heading: "Merriweather", serif;

// font sizes for paragraphs
$base-font-size: 1rem;
$smallest-font-size: 0.75rem;
$small-font-size: 0.875rem;
$medium-font-size: 1.125rem;
$large-font-size: 1.25rem;

// padding
$padding-sm: 0.5em;
$padding-med: 1.5em;
$padding-big: 2.5em;

$padding-top-sm: 1em;
$padding-bottom-sm: 1em;
$padding-top-med: 2em;
$padding-bottom-med: 2em;
$padding-top-big: 3em;
$padding-bottom-big: 3em;

// margin
$margin-sm: 0.5em 1em;
$margin-med: 0.75em 1.5em;
$margin-big: 1em 2em;
$margin-top-sm: 1em;
$margin-bottom-sm: 1em;
$margin-top-med: 2em;
$margin-bottom-med: 2em;
$margin-top-big: 3em;
$margin-bottom-big: 3em;

$box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
