// hero ===================================================
.projects-hero {
  height: 32rem;
  position: relative;
  background-color: black;
  @include mq($media-tab-land) {
    height: 28rem;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
  }

  &__heading {
    @include centerAbsolutely;
    @include centerFlex;
    flex-direction: column;
    width: 90%;
    @include mq($media-tab) {
      width: 25rem;
    }

    h1,
    p {
      text-align: center;
    }

    p {
      color: $color-white;
      margin-bottom: 2em;
    }
    .btn:hover {
      background-color: $color-bg;
      border-color: $color-bg;
      color: $color-white;
    }
    .btn i {
      vertical-align: middle;
    }
  }
}

// about ======================================================
.projects-about {
  padding: 6em 0;
  background-color: $color-bg-light;
  background-color: rgba($color-black, 0.8);
  .container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    @include mq($media-tab-land) {
      flex-direction: row;
      height: 35rem;
      align-items: center;
      gap: 4em;
    }
  }

  &__images {
    order: 2;

    @include mq($media-tab-land) {
      order: 1;
      flex: 1;
      align-self: stretch;
      display: flex;
    }

    img {
      width: 100%;
      border-radius: 3px;
      margin-bottom: 1em;

      @include mq($media-tab-land) {
        width: 22rem;
        margin-bottom: 0;

        &:nth-of-type(1) {
          align-self: flex-start;
        }

        &:nth-of-type(2) {
          align-self: flex-end;
          transform: translateX(-15rem);
          @include mq($media-desktop) {
            transform: translateX(-17rem);
          }
        }

        @include mq($media-desktop) {
          width: 25rem;
        }
      }
    }
  }

  &__text {
    order: 1;
    @include mq($media-tab-land) {
      flex: 1;
    }
    h2 {
      text-align: left;
      color: $color-bg-light;
    }

    p {
      border-left: 2px solid $color-accent;
      padding-left: 0.5em;
      margin-bottom: 1em;
      color: $color-white;

      @include mq($media-desktop) {
        padding-left: 1.5em;
        margin-bottom: 1.5em;
      }
    }
  }
}

// projects ===============================================
.projects-section {
  padding: 6em 0;
  .container {
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: 2em;

    &:not(:last-of-type) {
      margin-bottom: 3em;
      @include mq($media-tab) {
        margin-bottom: 5em;
      }

      @include mq($media-desktop) {
        margin-bottom: 7em;
      }
    }

    @include mq($media-tab-land) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 3em;
    }

    @include mq($media-desktop) {
    }
  }

  &__images {
    @include mq($media-desktop) {
      width: 45%;
    }
    img {
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &__image-focus {
    @include mq($media-tab-land) {
      height: 25rem;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__images-row {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;

    img {
      width: 47%;

      @include mq($media-tab-land) {
        width: 30%;
      }
    }
  }

  &__description {
    &:nth-of-type(odd) {
      order: 1;
    }
    background-color: $color-white;
    // margin-bottom: 2em;
    @include mq($media-desktop) {
      width: 45%;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: 1.5em;

    span {
      background-color: $color-accent;
      box-shadow: none;
    }
  }

  &__facts {
    margin: 1em 0 2em;
  }

  .btn {
    background-color: $color-bg;
    color: $color-white;
  }
}
